#positioning {
    padding: 5px;
}

#map {
    height: 1183px;
    padding-left: 5px;
}

#time {
    display: none;
}

.panel {
    width: 300px;
    float: left;
}

.ui-autocomplete {
    position: relative;
}

#yelp-logo1 {
    height: 20px;
    margin-top: -3px;
}

#yelp-credit {
    text-align: right;
    margin-bottom: 0px;
    font-size: 10px;
}

#gmaps-logo {
    height: 20px;
}

#table-width {
    width: auto;
}

#log-or-reg {
    width: 50%;
}