{% extends 'base.html' %}

{% block title %}Add Profile Info{% endblock %}

{% block content %}

<br>

<form action="/process-user-details" method="POST">
    <label>Phone number: <input type="text" id="phone_num" name="phone_num"></label><br>
    <!-- help label: for if you want to share restaurant info by text, show the user
    you're meeting your phone #, etc. -->
    <label>Home street address: <input type="text" id="home_str" name="home_str"></label><br>
    <label>City: <input type="text" id="home_cty" name="home_cty"></label><br>
    <label>State: <input type="text" id="home_sta" name="home_sta"></label><br>
    <label>Zip: <input type="number" id="home_zip" name="home_zip"></label><br>
    <label>Work street address: <input type="text" id="work_str" name="work_str"></label><br>
    <label>City: <input type="text" id="work_cty" name="work_cty"></label><br>
    <label>State: <input type="text" id="work_sta" name="work_sta"></label><br>
    <label>Zip: <input type="number" id="work_zip" name="work_zip"></label><br>
    <!-- help labels: for if you want to meet your friend from home or work and
    don't want to type the same address in the form every time -->
  
    <input type="submit" value="Update Info">
</form>

{% endblock %}
