<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Eat Together{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    
</head>
<body>
    <div id="flash-msgs">
        <ul>
            {% for message in get_flashed_messages() %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    <h1><a href="/">Eat Together</a></h1>
    
    {% if 'username' in session %}
        Hi {{ session['username'] }}! <br>
        <a href="/logout">Log out</a>
    {% else %}
        <a href="/register">Register here</a> or <a href="/login">log in!</a><br><br>      
    {% endif %}

    {% block content %}Content here{% endblock %}
</body>
</html>
