{% extends 'base.html' %}

{% block title %}Register Form{% endblock %}

{% block content %}

<br>

<form action="/register-process" method="POST">
    <label>First name*: <input type="text" id="fname" name="fname" required></label><br>
    <label>Last name*: <input type="text" id="lname" name="lname" required></label><br>
    <label>Email*: <input type="email" id="email" name="email" required></label><br>
    <label>Username*: <input type="text" id="username" name="username" required></label><br>
    <label>Password*: <input type="password" id="password" name="password" required></label><br>

    <input type="submit" value="Register">
</form>

{% endblock %}
