{% block title %}<b>Register Form</b>{% endblock %}

{% block content %}

<br><br>

<form action="/register">
    <label>First name*: <input type="text" id="fname" name="fname" required></label><br>
    <label>Last name*: <input type="text" id="lname" name="lname" required></label><br>
    <label>Email*: <input type="email" id="lname" name="lname" required></label><br>
    <label>Username*: <input type="text" id="uname" name="uname" required></label><br>
    <label>Password*: <input type="password" id="password" name="password" required></label><br>
    
    The following are optional:<br>
    <label>Phone number: <input type="number" id="work_zip" name="work_zip"></label><br>
    If you want to store your home and work addresses:<br>
    <label>Home street address: <input type="text" id="home_st" name="home_st"></label><br>
    <label>City: <input type="text" id="home_cty" name="home_cty"></label><br>
    <label>State: <input type="text" id="home_state" name="home_state"></label><br>
    <label>Zip: <input type="number" id="home_zip" name="home_zip"></label><br>
    
    <label>Work street address: <input type="text" id="work_st" name="work_st"></label><br>
    <label>City: <input type="text" id="work_cty" name="work_cty"></label><br>
    <label>State: <input type="text" id="work_state" name="work_state"></label><br>
    <label>Zip: <input type="number" id="work_zip" name="work_zip"></label><br>
    
    
    {#<!-- <input type="hidden" name="submitting-search-form" value="hi"> -->#}
    <input type="submit" value="Search for a good restaurant for us">
</form>

{% if result %}
    {{ result }}
{% endif %}

{% endblock %}
