{% extends 'base.html' %}

{% block title %}ET: Search{% endblock %}

{% block content %}

{% raw %}

<div class="panel panel-default">
  <div class="panel-body">
    <form action="/" method="GET">
        <div class="form-group form-group-sm label-floating">
            <label for="search-type" class="control-label">Type of search</label>
            <select name="search-type" id="search-type" class="form-control">
                <option value="midpt"> Search from our midpoint</option>
                <option value="venn"> Your friend walks to your location</option> 
            </select>
        </div>
        <p id="yelp-credit"><small>Powered by
            <img src="https://s3-media2.fl.yelpcdn.com/assets/srv0/developer_pages/95212dafe621/assets/img/yelp-2c.png" id='yelp-logo1'>
             and <img src="https://pbs.twimg.com/profile_images/638753218613280768/zK11Va5r.png" id='gmaps-logo'> Google Maps
        </small></p>
        For you:
        <div class="form-group form-group-sm label-floating">
          <label class="control-label" for="term1">What do you want to eat?</label>
          <input type="text" class="form-control" id="term1" name="term1" required>
        </div>
        <div class="form-group form-group-sm label-floating">
          <label class="control-label" for="loc1">Where are you coming from?</label>
          <input type="text" class="form-control" id="loc1" required placeholder="Enter your location" name="loc1" required>
        </div>
        <div class="form-group form-group-sm label-floating">
          <label class="control-label" for="radius1">Radius (in mi)</label>
          <input type="text" class="form-control" id="radius1" name="radius1" required>
        </div>
        <!-- feature to implement later: provide option for meters -->
        <div class="form-group form-group-sm label-floating">
            <label class="control-label" for="p1_price_1">Price: </label>
                <input type="checkbox" name="price1" id="p1_price_1" value="1"> $
                <input type="checkbox" name="price1" id="p1_price_2" value="2"> $$
                <input type="checkbox" name="price1" id="p1_price_3" value="3"> $$$
                <input type="checkbox" name="price1" id="p1_price_4" value="4"> $$$$
                <input type="checkbox" name="price1" id="p1_price_5" value="5"> $$$$$
        </div>

        <br>For your friend:

        <span class="midpt-fields"><div class="form-group form-group-sm label-floating">
          <label class="control-label" for="term2">What do you want to eat?</label>
          <input class="form-control" id="term2" name="term2">
        </div></span>
        <div class="form-group form-group-sm label-floating">
          <label class="control-label" for="loc2">Where are you coming from?</label>
          <input class="form-control" id="loc2" required placeholder="Enter your location" name="loc2" required>
        </div>
        <span class="midpt-fields"><div class="form-group form-group-sm label-floating">
          <label class="control-label" for="radius2">Radius (in mi)</label>
          <input class="form-control" id="radius2" name="radius2">
        </div></span>
        <!-- feature to implement later: provide option for meters -->
        <div class="form-group form-group-sm label-floating">
            <label class="control-label" for="p2_price_1">Price: </label>
                <input type="checkbox" name="price2" id="p2_price_1" value="1"> $
                <input type="checkbox" name="price2" id="p2_price_2" value="2"> $$
                <input type="checkbox" name="price2" id="p2_price_3" value="3"> $$$
                <input type="checkbox" name="price2" id="p2_price_4" value="4"> $$$$
                <input type="checkbox" name="price2" id="p2_price_5" value="5"> $$$$$
        </div>

        <span class="midpt-fields"><div class="form-group form-group-sm label-floating">
            <label for="search-type" class="control-label">Sort results by</label>
            <select name="sort_by" id="sort_by" class="form-control">
                <option value="best_match"> Best Match</option>
                <option value="rating"> Rating</option> 
                <option value="review_count"> Review Count</option> 
                <option value="distance"> Distance</option>
            </select>
        </div></span>
        <div class="form-group form-group-sm label-floating">
            <label for="choose_when" class="control-label">When do you want to meet?</label>
                <select name="choose_when" id="choose_when" class="form-control">
                    <option value="now"> Now</option>
                    <option value="later"> Later</option> 
                </select>
                <input class="form-control" type="datetime-local" id="time" name="time">
        </div>
        <div class="form-group form-group-sm label-floating">
          <label class="control-label" for="limit">Limit number of search results to max</label>
          <input class="form-control" id="limit" name="limit"></span>
        </div>
        <input type="hidden" name="submitting-search-form" value="hi">

        <span class="input-group-btn">
            <button class="btn btn-primary" type="button" id="search">
                Search on Yelp
            </button>
        </span>

    </form>
    </div>

    <div class="panel-footer"><div id="search-results">Search results will show here</div></div>
</div>

<div id="map"></div>
{% endraw %}
<script src="https://maps.googleapis.com/maps/api/js?key={{ GMAPS_JS_KEY }}&libraries=places&callback=initMap" async defer></script>
<script src="static/search_process.js"></script>



{% endblock %}
