{% extends 'base.html' %}

{% block title %}ET: Search{% endblock %}

{% block content %}

<br><br>

<form action="/" method="GET">
    <b>For person 1:</b><br>
    <label>Search term*: <input type="text" id="term1" name="term1" value="Chinese" required></label><br>
    <label>Enter the address of where you are coming from:<br>
        Street address: <input type="text" id="st_address1" name="st_address1" value="2540 college ave"></label><br>
    <label>City: <input type="text" id="city1" name="city1" value="Berkeley"></label><br>
    <label>State: <input type="text" id="state1" name="state1" value="CA"></label><br>
    <label>Radius (in mi): <input type="number" id="radius1" name="radius1" value="1"></label><br>
    <!-- feature to implement later: provide option for meters -->
    <label>Price: 
        <input type="checkbox" name="price1" id="p1_price_1" value="1"> $</label>
        <input type="checkbox" name="price1" id="p1_price_2" value="2"> $$</label> 
        <input type="checkbox" name="price1" id="p1_price_3" value="3"> $$$</label> 
        <input type="checkbox" name="price1" id="p1_price_4" value="4"> $$$$</label> 
        <input type="checkbox" name="price1" id="p1_price_5" value="5"> $$$$$</label> 
    </label>


    <br><br><b>For person 2:</b><br>

    <label>Search term: <input type="text" id="term2" name="term2" value=""></label><br>
    <label>Enter the address of where you are coming from:<br>
        Street address:<input type="text2" id="st_address2" name="st_address2" value="2310 telegraph ave"></label><br>
    <label>City: <input type="text" id="city2" name="city2" value="Berkeley"></label><br>
    <label>State: <input type="text" id="state2" name="state2" value="CA"></label><br>
    <label>Radius (in mi): <input type="number" id="radius2" name="radius2" value="2"></label><br>
    <label>Price: 
        <input type="checkbox" name="price2" id="p2_price_1" value="1"> $</label>
        <input type="checkbox" name="price2" id="p2_price_2" value="2"> $$</label> 
        <input type="checkbox" name="price2" id="p2_price_3" value="3"> $$$</label> 
        <input type="checkbox" name="price2" id="p2_price_4" value="4"> $$$$</label> 
        <input type="checkbox" name="price2" id="p2_price_5" value="5"> $$$$$</label> 
    </label>

    <br><br>
    <label>Sort results by: <select name="sort_by" id="sort_by">
        <option value="best_match"> Best Match</option>
        <option value="rating"> Rating</option> 
        <option value="review_count"> Review Count</option> 
        <option value="distance"> Distance</option> 
    </select></label><br>
    <label>When do you want to meet?
        <select name="choose_when" id="choose_when">
        <option value="now"> Now</option>
        <option value="later"> Later</option> 
    </select><br>
        <input type="datetime-local" id="time" name="time"></label><br>
    <label>Limit number of search results to max: <input type="number" id="limit" name="limit" value="20"></label>

    <br><br>
    <input type="hidden" name="submitting-search-form" value="hi">
    <button type="button" id="search">Search a good location for us to m-eat</button>
</form>

<div id="search-results"></div>

<br><div id="map"></div>
<script src="https://maps.googleapis.com/maps/api/js?key={{ GMAPS_JS_KEY }}&callback=initMap"
async defer></script>
<script src="static/search_process.js"></script>
<!-- <script src="static/save_search.js"></script> -->



{% endblock %}
