{% extends 'base.html' %}

{% block title %}Search{% endblock %}
<script src="https://maps.googleapis.com/maps/api/js?key={{ GMAPS_JS_KEY }}&callback=initMap"
async defer></script>

{% block content %}

<br><br>

<div id="flash-msgs">
    <ul>
        {% for message in get_flashed_messages() %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>

<form action="/" method="GET">
    For person 1:<br>
    <label>Search term*: <input type="text" id="term1" name="term1" value="Chinese" required></label><br>
    <label>Enter the address of where you are coming from:<br>
        Street address: <input type="text" id="st_address1" name="st_address1"></label><br>
    <label>City: <input type="text" id="city1" name="city1"></label><br>
    <label>State: <input type="text" id="state1" name="state1"></label><br>
    <label>Radius (in mi): <input type="number" id="radius1" name="radius1"></label><br>
    <!-- feature to implement later: provide option for meters -->
    <label>Categories: <input type="text" id="categories1" name="categories1"></label><br>
    <!-- add avg rating at least, price, and when you want to meet up -->

    <br>For person 2:<br>

    <label>Search term*: <input type="text" id="term2" name="term2" required></label><br>
    <label>Enter the address of where you are coming from:<br>
        Street address:<input type="text2" id="st_address2" name="st_address2"></label><br>
    <label>City: <input type="text" id="city2" name="city2"></label><br>
    <label>State: <input type="text" id="state2" name="state2"></label><br>
    <label>Radius (in mi): <input type="number" id="radius2" name="radius2"></label><br>
    <label>Categories: <input type="text" id="categories2" name="categories2"></label><br>

    <br><br>
    <input type="hidden" name="submitting-search-form" value="hi">
    <input type="submit" id="search" value="Search for a good restaurant for us">
</form>

{% if result %}
    {{ result }}
{% endif %}

<br><br><div id="map"></div>



{% endblock %}
