{% extends 'base.html' %}
{% block content %}
<br>

  <h2>{{ user.fname }}'s Account</h2>

  username: {{ user.username }}<br><br>
  email: {{ user.email }}<br><br>
  phone number: {{ user.phone_num }}<br><br>
  <b>home address:</b><br>
  {{ user.home_str }}<br>{{ user.home_cty }}<br>{{ user.home_sta }} {{ user.home_zip }}<br>
  <b>work address:</b><br>
  {{ user.work_str }}<br>{{ user.work_cty }}<br>{{ user.work_sta }} {{ user.work_zip }}<br>

  <br><a href="/add-user-details">Update your phone number and addresses!</a>

{% endblock %}